* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
 
/*----------------HEADER----------------*/
  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .left-icons, .right-icons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }